<div class="row">
  <div class="col-md-5 bg-football-field">    
    <ng-container *ngFor="let fc of formationModel.formationClassCollection;let i = index;">
      <div class="circle-disc {{fc}}">
        <!--<p class="player-number">{{playerList[i].playerNumber}}</p>-->
        <div>
          <img src="../../assets/images/Arsenal/{{playerList[i].playerImgUrl}}" style="width:50px;height:50px;border-radius:50%;" />
          <p class="player-number-img">{{playerList[i].playerNumber}}</p>
        </div>
      </div>
    </ng-container>
    <!--<div class="circle-disc defense-player-1">
      <p class="player-number">4</p>
    </div>
    <div class="circle-disc defense-player-2">
      <p class="player-number">6</p>
    </div>
    <div class="circle-disc defense-player-3">
      <p class="player-number">60</p>
    </div>
    <div class="circle-disc defense-player-4">
      <p class="player-number">9</p>
    </div>
    <div class="circle-disc mid-field-1">
      <p class="player-number">21</p>
    </div>
    <div class="circle-disc mid-field-2">
      <p class="player-number">10</p>
    </div>
    <div class="circle-disc mid-field-3">
      <p class="player-number">69</p>
    </div>
    <div class="circle-disc mid-field-4">
      <p class="player-number">7</p>
    </div>
    <div class="circle-disc striker-1">
      <p class="player-number">11</p>
    </div>
    <div class="circle-disc striker-2">
      <p class="player-number">12</p>
    </div>-->

  </div>
  <div class="col-md-7">
    <div class="form-group row">
      <div class="col-md-3">
        <label>Team Logo</label>
      </div>
      <div class="col-md-9">
        <input type="file"/>
      </div>

    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <label>Team Name</label>
      </div>
      <div class="col-md-9">
        <input type="text" class="form-control" />
      </div>

    </div>
    <div class="form-group row">
      <div class="col-md-3">
        <label>Formations</label>
      </div>
      <div class="col-md-9">
        <select class="form-control"  (change)="getSinglerFormation($event.target.value)">
          <option *ngFor="let formation of formationList" [value]="formation.id">
            {{formation.formationName}}
          </option>
        </select>
      </div>

    </div>

  </div>
</div>
